<html>
    <head>
        <link rel="stylesheet" href="/static/styles.css" />
    </head>

    <body>
        <div class="container">
            <h1 style="font-family: Arial, Helvetica, sans-serif; font-size: 1em; color: blue;">Gemini Chatbot</h1>
            <form action="/gemini" method="post">
                <input type="text" name="q"/>
                <input type="submit" value="Enter">
            </form> 
            <form action=""/" method="post">  
            <input type="submit" value="Main">
        </div>
    </body>
</html>